.Header {
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0px;
}

.Logo {
  position: relative;
  width: 180px;
  height: 65px;
}

.Menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.Menu li > a {
  padding: 10px 15px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.74rem;
  font-weight: 500;
}

.OrderBtn {
  color: #fff;
  background-color: #0d4d95;
  border-radius: 40px;
  padding: 12px 25px !important;
  margin-left: 25px;
  font-weight: 600 !important;
  border: 1px solid #0d4d95;
  transition: all 0.5s;
  font-size: 0.6rem !important;
}

.OrderBtn:hover {
  color: #0d4d95;
  background-color: #fff;
  border: 1px solid #0d4d95;
}

.Topbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid #e4f1fb;
  padding: 14px 0;
  align-items: center;
}

.Contacts {
  display: flex;
  flex-wrap: wrap;
}
.Contact {
  font-size: 0.83rem;
  margin-right: 20px;
}

.TopbarIcon {
  color: #0d4d95;
  font-size: 14px;
  height: 14px;
  margin-right: 5px;
}

.Socials {
  display: flex;
  color: #0d4d95;
  flex-direction: row;
}

.Socials a {
  border: 1px solid #0d4d95;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  line-height: 33px;
  text-align: center;
  border-radius: 4px;
  color: #0d4d95;
  font-size: 13px;
  margin-left: 15px;
  transition: all 0.3s;
}

.Socials a:hover {
  background-color: #0d4d95;
  color: #fff;
}

.Icons {
  height: 12px;
  font-size: 12px;
}

@media (max-width: 1199px) {
  .OrderBtn {
    padding: 9px 15px !important;
  }
  .Menu li > a {
    padding: 10px 6px;
    font-size: 0.7rem;
  }
}

@media (max-width: 991px) {
  .Menu {
    flex-direction: column;
  }
  .Menu li > a {
    padding: 15px 6px;
    font-size: 0.7rem;
  }

  .Menu li {
    display: flex;
  }
  .OrderBtn {
    display: flex;
    margin-left: 0px !important;
  }
}

@media (max-width: 474px) {
  .Topbar {
    flex-direction: column;
    align-items: center;
  }

  .Contacts {
    margin-bottom: 15px;
  }
  .Contact {
    margin-right: 10px;
  }

  .Socials a {
    width: 25px;
    height: 25px;

    border-radius: 4px;

    font-size: 10px;
    margin-left: 15px;
    transition: all 0.3s;
  }
}
