.productSlide {
  width: 100%;
  height: auto;
  margin: 0px !important;
}

.product__slide {
  width: 100%;
  /* overflow: hidden; */
  padding: 10px;
  background-color: rgb(240, 240, 240);
}

.product__slide img {
  height: 100%;
}

.productSlide .swiper-button-next::after,
.productSlide .swiper-button-prev::after {
  font-size: 1.3rem !important;
  color: #000;
}

.productThumbs {
  width: 100%;
}

.productThumbs {
  height: 100px;
  margin-top: 10px;
}

.productThumbs__slide {
  cursor: pointer;
  padding: 3px;
  background-color: rgb(240, 240, 240);
}
