.Product__Section {
  padding: 50px 0px;
}

.ProductImg {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.ProductImg img {
  width: 100%;
}

.Product {
  cursor: pointer;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 25px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  transition: all 0.2s;
}

.Product .ProductImg img {
  transition: all 0.4s ease-in;
}

.ProductImg {
  height: 260px;
  overflow: hidden;
}

.Product:hover img {
  transform: scale(1.1);
}

.Product:hover {
  box-shadow: rgba(0, 0, 0, 0.04) 1px 4px 6px 3px,
    rgba(0, 0, 0, 0.04) 1px 2px 4px 3px;
  background-color: #0d4d95;
  color: #fff;
}

.Product h5 {
  margin-top: 10px;
  font-size: 0.9rem;
  text-align: left;
  line-height: 1rem;
  height: 30px;
}

.ProductInfo h4 {
  color: #0d4d95;
  font-weight: 600;
  margin-bottom: 20px;
}

.ProductInfo p {
  font-size: 0.85rem;
  line-height: 1.7rem;
}

.ProductFoot {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.moreBtn {
  text-align: center;
  padding: 10px;
  background-color: #0d4d95;
  border: 2px solid #0d4d95;
  width: 250px;
  color: #fff;
  border-radius: 50px;
  font-size: 13px;
  font-weight: 600;
  transition: all 0.3s;
}

.moreBtn:hover {
  color: #fff;
  background-color: #f8f8fb;
  color: #0d4d95;
}

.Product__description {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.ShortDetails {
  padding: 20px;
  padding-top: 0px;
}

.ShortDetails h4 {
  font-size: 2rem;
  word-wrap: break-word;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.ShortDetails h4::after {
  content: "";
  display: block;
  height: 5px;
  margin-top: 10px;
  width: 20%;
  background-color: #0d4d95;
}

.ShortDetails p {
  font-size: 0.9rem;
  word-break: break-all;
  color: rgb(92, 91, 91);
}

.Controls {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

.Quantity {
  display: flex;
  flex: row;
  border: 2px solid #0d4d95;
  justify-content: center;
  align-content: center;
  border-radius: 5px;
  padding: 5px 3px;
}

.Quantity button {
  border: 0px;
  padding: 0 12px;
  background: none;
  color: #0d4d95;
  font-size: 1.2rem;
  color: rgb(153, 153, 153);
}

.Quantity input {
  border: none;
  width: 30px;
  font-weight: bold;
  text-align: center;
  height: 100%;
  justify-content: center;
  border: none;
  border-radius: 5px;
  font-size: 0.8rem;
}

button.OrderBtn {
  background-color: #0d4d95;
  margin-left: 10px;
  padding: 0px 25px;
  color: #fff;
  font-size: 0.8rem;
  font-weight: bold;
  transition: all 0.4s;
}

button.OrderBtn:hover {
  background-color: #0a386b;
  color: #fff;
}

button.OrderBtn i {
  margin-right: 20px;
}

.Product__detials {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 40px;
  margin-top: 30px;
  word-break: break-all;
  margin-bottom: 30px;
}

.Product__detials_title {
  font-size: 0.8rem;
  font-weight: 600;

  background-color: #0a386b;
  color: #fff;
  border: 2px solid #0e4e97;
  border-radius: 50px;
  padding: 10px 25px;
  margin-bottom: 30px;
  cursor: pointer;
  transition: all 0.3s;
}

.Product__detials_title:hover {
  background-color: #0d54a7;
}

.Product__detials table {
  width: 100%;
  margin-bottom: 20px;
}

.Product__detials table td {
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 0.9rem;
}

.Product__detials img {
  max-width: 100%;
}

@media (max-width: 1399px) {
  .ProductImg {
    position: relative;
    width: 100%;
    height: 260px;
    overflow: hidden;
  }
  .ProductImg span {
    position: relative !important;
  }
  .ProductImg img {
    position: relative !important;
    height: auto !important;
    min-height: auto !important;
    max-height: auto !important;
  }
}

@media (max-width: 767px) {
  .ProductImg {
    position: relative;
    width: 100%;
    height: 380px;
    overflow: hidden;
  }
  .Product h5 {
    margin-top: 10px;
    font-size: 1rem;
    text-align: left;
    line-height: 1rem;
    height: 30px;
  }
}

@media (max-width: 550px) {
  .ProductImg {
    max-height: 350px;
  }
}

@media (max-width: 295px) {
  .ProductImg {
    max-height: 250px;
  }
}
